body {
  position: relative;
  overflow-y: scroll;
  font-family: ‘Noto Sans’, sans-serif;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

#modal {
  z-index: 9999;
  position: relative;
}

.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

/* App.jsx */

div.dk-theMainDiv {
  width: 1200px;
}

div.dk-carouselAndProductInfo {
  display: flex;
}

div.dk-productDetail {
  width: 25rem;
  background-color: white;
  position: relative;
  height: 700px;
  left: 38%;
}

/* div.dk-zoomImageOverFlow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 50px;
  } */

/* div.dk-zoomImageDiv {
    position: static;
  } */

button.dk-zoomCloseButton {
  z-index: 1;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 20px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-position: 50%;
  border: none;
}

/* div.dk-zoomImage {
    z-index: 0;
    background-color: white;
    display: grid;
    position: absolute;
    text-align: center;
    width: 100%;
    top: -10%;
    transition: transform;
  } */

div.dk-outerCategory {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1rem 0.8rem;
  padding-left: 13rem;
  font-size: 0.75rem;
  line-height: 1.3334;
}

ol.dk-headerOl {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  line-height: 2;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 0.75rem;
}

li.dk-headerLi {
  display: inline;
  max-width: 100%;
  padding-left: 0;
  line-height: 2;
  cursor: pointer;
}

li.dk-headerLi:hover {
  text-decoration: underline;
}

span.dk-headerSlash {
  padding-left: 8px;
  padding-right: 8px;
}

/* availableOptions */

div.dk-assemblyBox {
  cursor: pointer;
  text-align: left;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  line-height: 3rem;
}

div.dk-assemblyBox:hover {
  background-color: #f8f8f8;
}

img.dk-assemblyImage {
  width: 2.2em;
  margin-right: 0.25em;
  margin-left: 0.4em;
}

svg.dk-iconSvg {
  margin-left: 0.2em;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

path.dk-whitePath {
  fill-rule: nonzero;
  fill: #fff;
}

span.dk-Atag {
  font-size: 0.9em;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #0058a3;
  text-decoration: underline;
}

svg.dk-checkLocal {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  fill: #111;
  transition-property: transform, fill, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

/* Carousel */

div.dk-slidesAndArrowsDiv {
  display: flex;
}

div.dk-slideDiv {
  top: 5rem;
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

div.dk-WrapperDiv {
  display: flex;
  position: absolute;
  left: -140%;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
  cursor: zoom-in;
}

div.dk-overFlow {
  width: 550px;
  height: 700px;
  overflow: hidden;
  left: 77%;
  bottom: 8%;
  position: relative;
}

div.dk-galleryLists {
  position: relative;
  left: 50%;
}

/* deliveryButton.jsx */

div.dk-deliveryOuterDiv {
  font-size: 0.875rem;
  line-height: 2rem;
  cursor: pointer;
  background-color: #fff;
}

div.dk-deliveryInnerDiv {
  background-color: #fff;
  padding: 0.8rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  text-align: left;
  font-size: 1rem;
}

div.dk-deliveryInnerDiv:hover {
  background-color: #f8f8f8;
}

span.dk-deliverySpan {
  align-items: center;
  display: flex;
  color: #111;
  text-align: left;
  font-size: 1rem;
}

svg.dk-deliverySvg {
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  fill: #111;
  transition-property: transform, fill, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

span.dk-deliveryAvailableSpan {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  fill: #111;
  transition-property: transform, fill, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  background-image: url(https://www.ikea.com/us/en/resources/svg/product-availability/stock-high-thin-24.50443bcac2b4be21.svg);
}

svg.dk-deliveryButton {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

div.dk-detailDelivery {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-bottom: 1px solid #ccc;
}

/* galleryListEntry.jsx */

button.dk-galleryListButton {
  padding: 0;
  margin: 7px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid lightgrey;
}

button.dk-gallerySelectedButton {
  padding: 0;
  margin: 7px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid black;
}

/* leftArrow.jsx */

svg.dk-leftArrow {
  position: relative;
  top: 19rem;
  left: 55%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* rightArrow.jsx */

svg.dk-rightArrow {
  position: relative;
  top: 19rem;
  left: 60%;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

/* mainSlide.jsx */

div.dk-mainSlide {
  padding-left: 150px;
  padding-right: 150px;
}

/* optionButtons.jsx */

div.dk-optionButtonOutterDiv {
  margin-bottom: 1rem;
}

button.dk-shoppingBagButton {
  background: #0058a3;
  color: #fff;
  border-radius: 2px;
  padding: 1.3rem 7.05rem;

  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

button.dk-shoppingBagButton:hover {
  background-color: #2c75b3;
}

button.dk-shoppingListButton {
  margin-bottom: 1rem;
  cursor: pointer;
  background: #f5f5f5;
  color: #111;
  padding: 1.2rem 7.2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

button.dk-shoppingListButton:hover {
  background-color: #e8e8e8;
}

svg.dk-shoppingBagIcon {
  fill: #fff;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

svg.dk-shoppingListSvg {
  fill: #111;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

div.dk-shoppingBagModal {
  transition: width 0.35s ease-in-out;
}

/* productDetail.jsx */

span.dk-readMore {
  text-decoration: underline;
  color: #0058a3;
  cursor: pointer;
  padding-left: 0.5rem;
}

span.dk-reviewCount {
  color: #0058a3;
}

span.dk-reviewCount:hover {
  text-decoration: underline;
}

div.dk-productPrice {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
  -webkit-user-select: none;
}

div.dk-productDetailName {
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
}
/* quantityForm.jsx */

div.dk-quantityOutterDiv {
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  visibility: visible;
}

div.dk-quantityInnerDiv {
  width: 9rem;
  position: relative;
  display: block;
}

button.dk-minusButton {
  padding: 0.6rem;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-property: background-color, border-radius, width;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
}

span.dk-minusSpan {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
}

svg.dk-minusSvg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
}

input.dk-inputField {
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  max-width: 100%;
  padding: 0.9rem 0.05rem;
  display: block;
  width: 97%;
  margin: 0;
  outline: 0;
  border: 1px solid #959595;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.dk-plusButton {
  padding: 0.6rem;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-property: background-color, border-radius, width;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
}

span.dk-plusSpan {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  letter-spacing: normal;
  word-spacing: normal;
}

svg.dk-plusSvg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
}

div.dk-hiddenMsg {
  align-items: center;
  color: #666;
  display: flex;
  font-size: 0.875rem;
  position: relative;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out,
    opacity 0.4s linear, margin 0.4s linear;
}

span.dk-hiddenSpan {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 50%;
}

/* starReview.jsx */
span.dk-rating {
  padding-right: 0.5rem;
  font-size: 17px;
}

a.dk-reviewAtag {
  cursor: pointer;
  display: flex;
  align-items: center;
}

stop.dk-fullStop {
  offset: 50%;
  stop-color: #ffd200;
}

stop.dk-halfStop {
  offset: 50%;
  stop-color: #eee;
  stop-opacity: 1;
}

/* shoppingBagModal.jsx */

div.dk-backDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  animation-name: overShadow;
  animation-duration: 0.4s;
}

.dk-modalStyle {
  width: 1050px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all 400ms ease;
  padding: 0;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  transition: all 300ms ease;
  transform: translate(-50%, 150%);
}

div.--open {
  transform: translate(-50%, 4rem);
}

div.dk-mainDiv {
  box-sizing: border-box;
  max-height: calc(100vh - 11rem);
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

div.dk-upperDiv {
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  height: 4rem;
  display: flex;
  flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: #f5f5f5;
  line-height: 1.5;
}

div.dk-confirmation {
  margin-left: 2rem;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

div.dk-confirmationIcon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  animation: magic-bloop 0.4s ease-out forwards;
}

svg.dk-confirmSvg {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

span.dk-addToCart {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  animation: slide-right 0.4s ease-out 0.2s forwards;
  animation-fill-mode: forwards;
}

button.dk-closeButton {
  z-index: 1;
  margin: 1.25rem 2rem;
  padding: 0;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 1.5;
}

svg.dk-closeIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  line-height: 1.5;
}

div.dk-middleDiv {
  height: 100%;
  max-height: calc(100vh - 80px);
  padding: 0.5rem 0 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}

h4.dk-h4 {
  text-align: left;
  padding: 0 2rem;
  font-size: 1.5rem;
  line-height: 1.3334;
  letter-spacing: -0.42px;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

div.dk-pairsLists {
  margin: 0;
  padding: 0 4rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

div.dk-pairsList {
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  min-height: 1px;
}

div.dk-bottomDiv {
  padding: 1rem 0 1rem 0;
  -webkit-box-pack: end;
  display: -webkit-flex;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  width: 100%;
}

div.dk-innerDiv {
  margin-right: 1rem;
  background: rgba(0, 0, 0, 0);
  color: #111;
  padding: 0.75rem 1.5rem;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  transition-property: background-color, border-radius, width;
}

div.dk-innerDiv:hover {
  background-color: #e8e8e8;
}

span.dk-cartSpan {
  color: #111;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  cursor: pointer;
}

svg.dk-cartIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* shoppingList.jsx */

div.dk-shoppingListBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  animation-name: overShadow;
  animation-duration: 0.4s;
}

@keyframes overShadow {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.4);
  }
}

div.dk-shoppingListModalStyle {
  box-sizing: border-box;
  transform: translate(-50%, -3rem);
  border-radius: 5px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #fff;
  transition: all 400ms ease;
  padding: 0;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  animation-name: popupframeopen;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes popupframeopen {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

div.dk-shoppingListCloseButton {
  background-color: #fff;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  line-height: 1.5;
}

div.dk-mainPopup {
  min-width: 23rem;
  padding: 2rem 1rem;
  transition: all 1s ease;
  word-break: break-word;
  text-align: center;
}

a.dk-listButton {
  cursor: pointer;
  background: #0058a3;
  color: #fff;
  border-radius: 2px;
  padding: 0.75rem 1.5rem;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7143;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  width: 85%;
}

a.dk-listButton:hover {
  background-color: #2c75b3;
}
