div.dk-mainOuterDiv {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  flex: 0 0 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  line-height: 1.5;
}

div.dk-pairsPrice {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

div.dk-mainInnderDiv {
  max-width: 30rem;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
}

img.dk-productImage {
  width: 180px;
  height: 180px;
  display: block;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  cursor: pointer;
}

div.dk-productName {
  cursor: pointer;
  font-weight: 700;
}

.dk-mainInnerDiv:hover .dk-productImage {
  transform: scale(1.05);
}

.dk-mainInnerDiv:hover .dk-productName {
  text-decoration: underline;
}

button.dk-outterCartButton {
  margin: 1rem 0.5rem 0.5rem;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: 0.75rem;
  line-height: 0;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: 0.875rem;
  transition-property: background-color, border-radius, width;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  cursor: pointer;
}

span.dk-cartButtonSpan {
  background-color: #dfdfdf;
  transform: scale(1);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  cursor: pointer;
}

span.dk-cartButtonIcon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 0;
  cursor: pointer;
}

svg.dk-cartIconSvg {
  width: 1.5rem;
  height: 1.5rem;
  left: 26%;
  position: absolute;
  z-index: 1001;
}
